<style type="text/css">
	h1{
		color: #4e88b3;
		margin-top: 100px;
		margin-left: 100px;
		font-size: 90px;
		font-family: sans-serif;
	}
	h2{
		color: #4e88b3;
		margin-top: 100px;
		margin-left: 100px;
		font-size: 40px;
		font-family: sans-serif;
	}

	.upload_section{
		margin-top: 100px;
		text-align: center;
		font-size: 20px;
		font: sans-serif;
		color: #2211EF;
	}
</style>
<h1>Excel to Database</h1>
<h2><a href="{% url 'person' %}">All Person</a></h2>

<div class='upload_section'>
	<form method="POST" enctype='multipart/form-data'>
		{% csrf_token %}
		<input type="file" name="myfile">
		<button type='submit'>Upload</button>
	</form>
</div>